@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit Stylist</h2>

<p>@Html.DisplayFor(model => model.Name)</p>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  <h2>@Html.LabelFor(model => model.Name)</h2>
  <p>@Html.EditorFor(model => model.Name)</p>

  <h2>@Html.LabelFor(model => model.Specialty)</h2>
  <p>@Html.EditorFor(model => model.Specialty)</p>

  <input type="submit" value="Save" class="btn btn-light" />
}
<hr />
<p>@Html.ActionLink("Back to List", "Index")</p>