@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add New Client</h2>
<hr />
@using (Html.BeginForm())
{
  <h2>@Html.LabelFor(model => model.Name)</h2>
  <p>@Html.TextBoxFor(model => model.Name)</p>

  <h2>@Html.LabelFor(model => model.Stylist)</h2>
  <p>@Html.DropDownList("StylistId")</p>

  <input type="submit" value="Add New Client" class="btn btn-light" />
}
<hr />
<p>@Html.ActionLink("Back to Clients", "Index")</p>